<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@mipmap/logo1"
        android:label="Cafe n Resto"
        android:roundIcon="@mipmap/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeLengkungLangit">
        <activity
            android:name=".tiketprahu"
            android:exported="true" />
        <activity
            android:name=".tiketayunan"
            android:exported="true" />
        <activity
            android:name=".histori"
            android:exported="true" />
        <activity
            android:name=".PrintNota"
            android:exported="true" />
        <activity
            android:name=".TambahPesan"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".DeviceList" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.baguslangit.cafelengkunglangit"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>